<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Purchase Confirmed</title>
        <link rel="stylesheet" href="/shopper.css">
    </head>
    <body>
        <div class="confirm_cont">
            <h1 class="title confirmation">THANK YOU FOR YOUR PURCHASE!</h1>
            <p class="confirm_desc">Purchase is confirmed, you should receive a confirmation in the email you provided</p>
            <a href="https://cookiekingpin.org/">
                <button class="add_cart confirm_btn">Return To Homepage</button>
            </a>
        </div>
    </body>
</html>